# ==========================================
# Terraform Core & State
# ==========================================
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
backend.hcl

# ==========================================
# Variables & Secrets (Sensitive Data)
# ==========================================
*.tfvars
*.tfvars.json
*.auto.tfvars

# ==========================================
# Plans & Logs
# ==========================================
*.tfplan
crash.log
crash.*.log

# ==========================================
# Local Overrides
# ==========================================
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ==========================================
# IDE & System Files
# ==========================================
.vscode/
.idea/
.terraformrc
terraform.rc
.DS_Store
Thumbs.db
